.burger, .menu, .background {
    position: fixed;
    background-repeat: no-repeat;
}
.burger, .menu a, .background {
    transition: 0.5s;
}
.burger{
    z-index: 3;
    top: 5;
    left: 5;
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    background-image: url("menu.svg");
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.menu{
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
}
.menu nav:hover a{
    opacity: 0.25;
}
.menu nav a:hover{
    opacity: 1;
}
.menu nav{
    display: inline-flex;
    flex-direction:column;
    justify-content: left;
    align-items:flex-start;
}
.menu a{
    position: relative;
    color: #d5ff1a;
    font-size: 32px;
    padding: 10px 0;
    width: 400px;
    text-decoration: none;
    transition: 0.4s;
}
.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #d5ff1a;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
}
@keyframes appear{
    0% {
        opacity: 0;
        translate: 0 50px;
    }
    100% {
        opacity: 1;
    }
}
.menu a:hover::after{
    transform: scaleX(1);
}
body.open .burger{

    background-image: url("close.svg");
    
}
body.open .menu{
    opacity: 1;
    visibility: visible;
}
body.open .menu a{
    animation: 0.3s backwards;
}
body.open .background{
    filter: blur(10px);
}

.login-box {
    position: absolute;
    top: 40%;
    left: 70%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.6); 
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(91, 112, 177, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10x 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px -10px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px; 
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #4bc9d0,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; 
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0%{
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation:  btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}